<!DOCTYPE html>

<html>

<head>
    <title>Spotify Playlist Scraper</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css" />
    <link href="../static/bootstrap.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <img class="navbar-brand spotify-logo" src="../static/spotify-logo.png"/>
        <h1 class="text-success">Spotify Web Scraper</h1>
    </nav>

    <!-- Debugging Buttons -->

    <h3 class="text-center" style="padding-top: 1%;">Debugging Functions:</h3>

    <div class="container" style="padding: 0.5% 0 3% 0;">
        <div class="row">
            <div class="col text-right"><input type="button" class="btn btn-success" value="Search Artist Name" /></div>
            <div class="col text-left"><input type="button" class="btn btn-success" value="Pull Followed Artists" /></div>
        </div>
    </div>

    <h2 class="text-center">Configure Spotify Playlist Scraper:</h2>

    <div class="container">

        <div class="row">

            <div class="col text-center"><label for="input-information">
                    <h5>How often would you like to scrape for new songs?</h5>
                </label>
            </div>

            <div class="col text-center"><label for="input-information">
                    <h5>How far back would you like to scrape for songs?</h5>
                </label>
            </div>

        </div>

        <div class="row">


            <!-- Select box for refresh period -->

            <div class="col">
                <input type="number" class="form-control" id="input-information" placeholder="1" min="1">


                <div class="period-input">
                    <select class="form-control" id="input-information">
                        <option>Days</option>
                        <option>Months</option>
                        <option>Years</option>
                    </select>
                </div>
            </div>

            <!-- Select box for time range to scrape-->

            <div class="col">
                <input type="number" class="form-control" id="input-information" placeholder="30" min="1">

                <div class="period-input">
                    <select class="form-control" id="input-information">
                        <option>Days</option>
                        <option>Months</option>
                        <option>Years</option>
                    </select>
                </div>
            </div>



        </div>
    </div>




</body>

</html>